.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  border-radius: 1rem;
  height: 1rem;
  padding: 1rem;
  /* margin-right: 1rem; */
  margin: 1rem;
  box-shadow:  2px 2px 10px grey;
  justify-content: center;
  align-items: center;
}

.container p {
  margin: 0;
  font-weight: bold;
}

.container button {
  border: none;
  background-color: unset;
  color: red;
  font-weight: bold;
}

.container button:hover {
  cursor: pointer;
}
