.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h4{
  margin-top: 0;
}

.container a {
  text-decoration: none;
}

.container a:hover{
  /* text-decoration: underline; */
}

.container .more{
  color: white
}
