.container {
  background-color: white;
  padding: 2rem;
  padding-top: 0;
  border-radius: .25rem;
  border: .5px solid grey;
  box-shadow:  2px 2px 10px grey;
  width: 750px;
  margin-bottom: 2rem;

}

.container select {
  color: black;
}

.container .inputContainer {
  display: flex;
  flex-direction: column;
}

.container .inputContainerCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainerCheck input {
  margin: .5rem 0 1rem 1rem;
  height: 1.25rem;
  width: 1.25rem;
  padding: 0;
  border: .5px solid grey;
}

.container label {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.container input, select {
  border-radius: .25rem;
  border: .5px solid grey;
  height: 2rem;
  margin-bottom: .4rem;
  font-size: 1.25rem;
}

.container textarea {
  border-radius: .25rem;
  border: .5px solid grey;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font: inherit;
  font-size: 1.25rem;
}

.container .inputContainerUpload {
  display: flex;
  flex-direction: column;
}

.inputContainerUpload input {
  display: none;
}

.inputContainerUpload label {
  background-color: royalblue;
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid grey;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
}

.inputContainerUpload label:hover {
  cursor: pointer;
  background-color: rgb(33, 79, 218);
}

.container button {
  background-color: royalblue;
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid grey;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: .5rem;
}

.container button:hover {
  cursor: pointer;
  background-color: rgb(33, 79, 218);

}

@media only screen and (max-width: 400px) {
  .container {
    width: 350px;
    padding: 1rem;
  }

}
