.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border-bottom: 1px solid lightgray; */
  border-radius: .25rem;
  background-color: white;
  padding: 2rem;
  padding-top: 0;
  margin-bottom: 2rem;
  border: .5px solid grey;
  /* box-shadow:  2px 2px 10px grey; */
}

.container p {
  color: black;
}

.container img {
  width: calc(100vw * .8 - 4rem);
  height: calc(100vw * .8 / 2 - 4rem);
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.container .tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .buttons a {
  background-color: royalblue;
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid grey;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: .5rem;
  text-decoration: none;
}

.container button{
  background-color: rgb(249, 63, 63);
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid grey;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: .5rem;
}

.container button:hover{
  cursor: pointer;
  background-color: red;
}

.container .buttons a:hover {
  background-color: rgb(33, 79, 218);
}

.container .detailLink {
  color: black;
  text-decoration: none;
}

.container .detailLink:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 350px;
    padding: 1rem;
    padding-top: 0;
  }

  .container h2{
    text-align: center;
  }

  .container img {
    width: calc(350px - 2rem);
    height: 159px;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

}
