.container {
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
  /* min-height: 50rem; */
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  align-items: center;
  color: white;
  background-color: rgb(24, 24, 24);
  position: relative;
  /* margin-top: 3rem; */

}

.container .bg {
  width: 100%;
  /* min-height: 50rem; */
  height: 100%;
  /* z-index: 0; */
  background-image: url('../../assets/photos/cheesman.jpg');
  background-position: center;
  object-fit: cover;
  filter: brightness(.5);
  
}

/* .heroContent {
  position: absolute;
  top: 40%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 2rem;
  width: 800px;
} */

.heroContent {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  position: absolute;
  z-index: 1;
}

.heroContent p {
  color: white;
}

.container a {
  background-color: unset;
  text-decoration: none;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 20%;
  min-width: 10rem;
  border: 3px solid white;
  transition: all ease-in .25s;
  margin-top: 2rem;

}

.container a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}



@media only screen and (max-width: 875px) {
  .container{
    margin-top: 2.5rem;
    height: calc(100vh - 2.5rem);
  }
  
  .container .heroContent {
    width: 100%;
    padding-right: 2rem;
  }

}
