.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* border-bottom: 1px solid lightgray; */
  border-radius: .25rem;
  background-color: white;
  padding: 2rem;
  padding-top: 0;
  margin: 2rem 0;
  border: .5px solid grey;
  /* box-shadow:  2px 2px 10px grey; */
}

.container p {
  white-space: pre-wrap;
}

.container h1{
  margin-bottom: 0;
  color: black;
}

.container h4{
  margin-top: 0;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover{
  text-decoration: underline;
}

.container .listing .thumbnailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  align-items: space-between;
  justify-content: space-between;
}

.thumbnailContainer img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  /* margin: 1rem; */
}

.thumbnailContainer img:hover {
  cursor: pointer;
}

.container #mainPhoto {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.container .contactBtn{
  background-color: royalblue;
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 200px;
  font-size: 1.25rem;
}

.container .contactBtn:hover {
  background-color: rgb(33, 79, 218);
  text-decoration: none;
}

.container .btn {
  background-color: royalblue;
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
  width: 200px;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: .5rem;
  text-decoration: none;
}

.container .btn:hover {
  background-color: rgb(33, 79, 218);
  text-decoration: none;
}

.container button {
  background-color: rgb(249, 63, 63);
  height: 2rem;
  border-radius: .25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  2px 2px 10px grey;
  padding: 1.5rem;
  width: 200px;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  border: unset;
}

.container button:hover {
  cursor: pointer;
  background-color: red;
}

@media only screen and (max-width: 400px) {
  .container .listing{
    width: 350px;
    padding: 1rem;
    padding-top: 0;
  }
  .container #mainPhoto {
    height: 300px;
  }
  
  .container h1{
    text-align: center;
  }

  .container .listing .thumbnailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 317px;
    align-items: space-between;
    justify-content: space-between;
  }

  .thumbnailContainer img {
    margin-right: 1rem;
  }
}
