.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background: lightblue; */
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  /* color: white; */
  /* backdrop-filter: brightness(60%); */
  background-color: rgb(24, 24, 24);

}

.container ul {
  padding: 0;
  /* margin-top: 1.5rem; */
}

.container li {
  list-style: none;
  display: block;
  float: left;
  position: relative;
  padding: 0 1rem;
  /* width: 11rem; */
}

.container a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container a:hover {
  /* text-decoration: underline; */
  /* border: 2px solid white; */
}

.dropdownContent ul {
  padding: 0;
}


.dropdownContent {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 1rem;
  transition: all .5s ease;
}

.dropdownContent li {
  display: block;
  position: relative;
  padding: 1rem;
  background-color: blanchedalmond;
  width: 5rem;
}

ul li:hover > ul,
ul li ul:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  position: absolute;
}

.secondDropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: -2rem;
  transition: all .5s ease;
  padding-left: 5rem;
}

.secondDropdown li {
  background-color: coral;
  margin-left: 6rem;
}

.mobileNav{
  display: none;
}



@media only screen and (max-width: 875px) {
  .container{
    display: none;
  }

  .mobileNav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }

  .mobileNavTop button{
    color: red;
    font-size: 2rem;
    background-color: unset;
    border: none;
    margin-right: 1rem;
  }


  .mobileLinks {
    position: absolute;
    top: 2rem;
    background-color: aliceblue;
    width: 100vw;
    text-align: center;
  }

  .mobileLinks p {
    margin: 0;
    background-color: antiquewhite;
    cursor: pointer;
  }

  .mobileLinks ul{
    padding: 0;
    list-style: none;
  }

  .mobileLinks a {
    text-decoration: none;
    color: black;
    text-decoration: none;
  }

}
