.container {
  width: 100vw;
  height: 30rem;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
}

.heroContent {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  position: absolute;
  z-index: 1;
}

.heroContent p {
  color: white;
}

.bgFade{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  filter: brightness(.5);
  animation-name: fade-zoom;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}

.bgFade img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.bgFade:nth-child(2){
  animation-delay: 0s;
}

.bgFade:nth-child(3){
  animation-delay: 6s;
}

.bgFade:nth-child(4){
  animation-delay: 12s;
}

@keyframes fade-zoom {
  0%{
    opacity: 0;
    transform: scale(100%);
  }
  16.66%{
    opacity: 1;
  }
  33% {
    opacity: 1
  }
  60% {
    opacity: 0
  }
  100% {
    opacity: 0;
    transform: scale(110%);
  }
}

@media only screen and (max-width: 875px) {
  .container{
    margin-top: 2.5rem;
    height: calc(100vh - 2.5rem);
  }
  
  .container .heroContent {
    width: 100%;
    padding-right: 2rem;
  }

}
